
#Heading {

	height: 120px;
	background-color: rgba( 255, 0, 0, 0.65);
	color: white;
	text-align: right;
	padding-right: 20px;
	padding-top: 2px;
	line-height: 50%;
	text-decoration: bold;
}

body {

	background-color: rgba( 0, 0, 0, 0.65);
	color: white;
	margin: 0px 0px 10px 0px;
}

#codeContent {

	float: left;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 90px;
	text-decoration: bold;
	font-size: 20px;
	overflow: auto;
}

#codeDetails {

	padding-top: 130px;
	float: right;
	margin-left: 0px;
	padding-left: 50px;
	text-decoration: bold;
	font-size: 20px;
	padding-right: 90px;
	line-height: 80%;
}

#content {

	margin-top: 20px;
	
}