
/* Header */

#header {

	height: 100px;
	background-color: red;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
}

h3 {

	padding-top: 0px;
	margin-top: 0px;
}

#name {

	padding-top: 10px;
	font-size: 80px;
	color: white;
	text-align: left;
	text-decoration: bold;	
}

/* Body */

body {

	background-color: black;
	color: white;
	margin: 0px 0px 10px 0px;
}

#Registration {

	float: left;
	padding-left: 200px;
	margin-right: 0px;
	padding-right: 145px;
	border-right: solid #ff0000;
}

#RegHeading {

	text-decoration: bold;
	font-size: 30px;
	margin-bottom: 50px;
}

#LoginHeading {

	text-decoration: bold;
	font-size: 30px;
}

#LogIn {

	float: right;
	padding-right: 200px;
	margin-left: 0px;
}

#RegContent, #LoginContent {

	font-size: 15px;
}